.Cart {
    align-self: flex-end;

    display: flex;
    flex-direction: column;
    align-items: space-evenly;

    text-align: center;
    padding: 1rem;
}

.titles, .item, .subtotalRow, .buttons, .item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.titles h3:last-child {
    justify-self: start;
}

.item {
    margin-bottom: 1rem;
}

.itemView {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.itemView img {
    justify-self: end;
}

.itemView p {
    justify-self: start;
}

.itemView:hover {
    cursor: pointer;
    font-weight: bold;
}

.itemImg{
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.subtotal {
    grid-column: 4;
}

.buttons button {
    justify-self: center;
}

.continue {
    grid-column: 3;
}

.checkout {
    grid-column: 4;
}

button {
    padding: 8px;
}

.total {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 8px;
}

.total p {
    justify-self: start;
}

.total button {
    justify-self: start;
}