.Nav {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(255, 221, 162);
    color: rgb(64, 64, 64);
}

.links {
    width: 40%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    list-style: none;
}

li:hover {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

.cart h4:hover {
    color: white;
}